*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

.nav ul{

    list-style: none;
    background: rgb(176, 171, 171);
    padding: 0;
    margin: 0;
    text-align: center;
  }
  .nav li{
    display: inline-block;

  }
  .nav a{
    text-decoration: none;
    color: black;
    width: 100px;
    display: block;
    padding: 25px 80px;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    
  }

  .bgimage{
    background-image:url(home.jpg) ;
    background-size: cover;
    height: 80vh;
    width: 100%;
    padding: 0 8%;
    position: relative;
  }
  .heading{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

  }
  .heading h1{
    font-size: 65px;
    letter-spacing: 1px;
    padding-bottom: 55px;
  }

  .cards{
    display: flex;
    flex-wrap: wrap;
    align-items:stretch;
    margin: 15px 40px;
    justify-content: center;

   
   
  }
    .card{
    width: 25%;
    background-color: rgb(235, 230, 230);
    margin: 15px;
    box-shadow: 1px 1px 3px rgb(47, 46, 46);
    border: none;
    
  }
  .card img{
       width: 100%;
       
  }
  .text{
    text-align: center;
    
  }
    button{
    margin-top: 25px;
    margin-bottom: 25px;
    background-color: lightskyblue;
    border: 1px solid black;
    padding: 10px 30px;
  
  }
  button:hover{
    background-color: black;
    color: white;
  }

  .card:nth-child(4){
    width: 450px;
  
  }
  .card:nth-child(5){
    width: 450px;
  }

  .
  
  
  

  
   


  



    
