body{
    margin:0;
    padding: 0;
    text-align: justify;
    background: rgb(236,217,221);
    font-family: Arial, Helvetica, sans-serif;
}
  .navbar ul{
    list-style: none;
    background: white;
    padding: 0;
    margin: 0;
    text-align: right;
  }
  .navbar li{
    display: inline-block;

  }
  .navbar a{
    text-decoration: none;
    color: black;
    width: 100px;
    display: block;
    padding: 25px 20px;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    
  }
    .navbar a:hover{
        background: rgb(236,217,221);
    }

    .section{
      background-color: rgb(236, 217, 221);
      display: flex;
      padding: 40px;
      width: auto;
      height: 460px;
      margin: 0 auto 0px auto; 
      padding-top: 40px;

     
    }
     img{
      
      height: 500px;
     
      
      
      
    }
    .section h1{
      color: rgb(66, 63, 63);
      font-weight: 400px;
      font-size: 40px;
      
    }
    .section h2{
      color: rgb(66, 63, 63);
      padding-bottom: 40px;
      font-size: 35px;
    }
    .section p{
      color:rgb(66, 63, 63);
      margin-right: 15px;
      padding-bottom: 40px;
      font-size: 20px;

    }
    .section a{
      font-size: 15px;
      background: rgb(66, 63, 63);
      padding: 10px 11px;
      display: inline-block;
      color: white;
      text-decoration: none;
     
    }


    .service{
     background: rgb(236,217,221);
      height: 55vh;
      color:rgb(66, 63, 63);
      padding-top: 1px;
      padding: 100px 60px;
      margin: auto;
      
       
    }
   .service h3{
      text-align: center;
      padding-top: 0px;
      font-size: 35px;
    }
    h3::after{
      content:'';
      background: rgb(66, 63, 63);
      display: block;
      height: 3px;
      width: 270px;
      margin: 16px auto 50px;
 
    }
    .service h4{
      font-size: 19px;
    }
    .content{
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    .card{
      background-color: rgb(153, 152, 152);
      padding: 30px 20px;
      margin: 10px;
    }

    .about{
      width: 100%;
      padding: 0px 0px;

    
    }
    .about img{
      height: auto;
      width: 350px;
    }
    .about-text{
      width: 550px;
      padding-left: 5px;
      
    }
    .main{
      width: 1130px;
      max-width: 95%;
      margin: 0 auto;
      display: flex;
      align-items: center;
      justify-content: space-around;
      margin-top: 0;
    }
    .about-text h5{
      text-align: center;
      padding-top: 0px;
      font-size: 35px;
      margin-top: auto;
    }
    .about-text h5::after{
      content:'';
      background: rgb(66, 63, 63);
      display: block;
      height: 3px;
      width: 270px;
      margin: 16px auto 50px;
    }
    .about-text p{
      letter-spacing: 1px;
      line-height: 20px;
    }
    .main-text h6{
      text-align: center;
      padding-top: 0px;
      font-size: 35px;
      margin-top: auto;
    }
     h6::after{
      content:'';
      background: rgb(66, 63, 63);
      display: block;
      height: 3px;
      width: 270px;
      margin: 16px auto 45px;
 
    }
    .portfolio-content{
      display: flex;
      
    }
    
    
    
     
    
    

      
    

   

    
      


    
    
    
      
      
      
    
    
      
      
    
    
    


    